* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(30, 30, 30);
  font-family: sans-serif;
  color: white;
}

nav {
  width: 100%;
  height: 6em;
  background-color: rgb(62, 62, 62);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0em 2em;
  position: fixed;
  z-index: 10;
}

nav * {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .ul li a {
  text-decoration: none;
  color: white;
}

nav .ul li:hover a {
  color: #32b0e7;
  text-decoration: underline;
}

nav .ul li {
  padding: 1.5em 2em;
}

nav .ul li:hover {
  background-color: rgb(93, 93, 93);
}

nav h1 {
  font-size: 3em;
  color: #32b0e7;
}

.floating {
  position: fixed;
  font-size: 20em;
  z-index: -1;
}

#iMain1,
#iMain3 {
  transform: translateX(-100%);
}

#iMain2 {
  right: 0%;
  transform: translateX(100%);
}

.iMain1 {
  font-size: 7em;
  animation: move_right 10s infinite linear;
  bottom: 0.5em;
  color: rgba(255, 255, 255, 0.5);
}

.iMain2 {
  font-size: 20em;
  animation: move_left 13s infinite linear;
  top: 1em;
  color: rgba(255, 255, 255, 0.1);
}

.iMain3 {
  animation: move_right 18s infinite linear;
  top: 1em;
  font-size: 13em;
  color: rgba(255, 255, 255, 0.3);
}

.menu {
  font-size: 1.5em;
  display: none;
  text-align: center;
  padding: 0.5em;
  z-index: 1;
}

.menu:hover {
  cursor: pointer;
  background-color: rgb(93, 93, 93);
}

.menu ul {
  position: absolute;
  display: none;
  list-style-type: none;
}

.menu:hover ul {
  margin: 0.5em -0.5em;
  display: block;
}

.menu ul li {
  padding: 1em;
  background-color: rgb(67, 67, 67);
}

.menu ul li a {
  text-decoration: none;
  margin: 0 auto;
  color: white;
}

.menu ul li:hover {
  background-color: rgb(93, 93, 93);
}
.menu ul li:hover a {
  text-decoration: underline;
  color: #32b0e7;
}

.content {
  padding-top: 10em;
  width: 100%;
}

.contentAnim {
  animation: txt_fade 3s linear;
}

.content .h2 {
  font-size: 3em;
  border: 1px white solid;
  margin: 0 auto;
  padding: 0.5em;
  width: max-content;
  margin-bottom: 2em;
  text-align: center;
  background-color: #32b0e7;
}

.about {
  margin-top: 2em;
}

.about,
.contact {
  background-color: rgb(62, 62, 62);
  padding: 1.5%;
  line-height: 1.3em;
}

.about h2,
.contact h2 {
  font-size: 2em;
  padding: 1em 0em;
  color: #32b0e7;
}

.about a,
.contact div a {
  color: white;
}

.about a:hover,
.contact a:hover {
  color: #32b0e7;
}

.copy {
  text-align: center;
  font-size: 0.75em;
  padding-top: 2em;
}

.p2,
.p3,
.p4,
.p5,
.p6 {
  padding-top: 3em;
  width: 90%;
  margin-left: 5%;
}

.p2 h3,
.h3,
.p3 h3,
.p4 h3,
.p5 h3,
.p6 h3 {
  font-size: 2em;
  position: relative;
  color: #32b0e7;
  margin-bottom: 1em;
}

.h3 {
  margin-left: 5%;
  margin-top: 4em;
  margin-bottom: 1em;
}

.p2 p {
  width: 50%;
  font-size: 1.5em;
  line-height: 1.3em;
  position: relative;
  text-align: justify;
  margin-right: 5%;
}

.p2 img {
  width: 40%;
  margin-left: 5%;
  animation: img_fade_in linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 30em;
}

.p2 div {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p1 ul {
  font-size: 1.5em;
  position: relative;
  width: 50%;
  text-align: justify;
}

.p1 ul li::marker {
  color: #32b0e7;
}

.p1 ul li a:hover {
  text-decoration: underline;
  color: #32b0e7;
}

.p1 ul li a {
  color: white;
  text-decoration: none;
  line-height: 1.5em;
}

.p1 {
  margin-bottom: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
}

.p1 img {
  width: 40%;
  margin-left: 5%;
  animation: img_fade_out linear;
  animation-timeline: view();
  animation-range-end: cover;
  animation-range-start: 30em;
}

.benefits p,
.types p {
  width: 100%;
  text-align: justify;
  line-height: 1.3em;
  margin-top: 2em;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.b1 h3 {
  padding: 2.5%;
}

.b1:first-child,
.b1:nth-child(3),
.b1:nth-child(5) {
  padding-right: 2.5%;
}

.b1:nth-child(2),
.b1:nth-child(4),
.b1:nth-child(6) {
  padding-left: 2.5%;
}

.benefits div img {
  width: 10%;
}

.b1 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 2em;
}

.b4,
.b3,
.b1,
.b2 div {
  margin-bottom: 5em !important;
}

.p3 p,
.p4 p,
.p5 p {
  font-size: 1.5em;
  line-height: 1.3em;
  text-align: justify;
}

.head {
  margin-bottom: 6em;
}

.head p {
  margin-top: 2em;
}

.b2,
.typesof,
.uses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.b2 div:first-child,
.b3:first-child,
.b3:nth-child(3),
.b4:first-child,
.b4:nth-child(3),
.b4:nth-child(5) {
  padding-right: 5%;
}

.b2 div:nth-child(2),
.b3:nth-child(2),
.b3:last-child,
.b4:nth-child(2),
.b4:nth-child(4),
.b4:nth-child(6) {
  padding-left: 5%;
}

.b4:last-child,
.b1:last-child {
  transform: translateX(50%);
}

.b3 h3,
.b4 h3 {
  padding-bottom: 1em;
}

.shift {
  text-align: center;
  margin: 5em;
}

.shift button {
  width: 3em;
  height: 3em;
  font-weight: bold;
  background-color: #32b0e7;
  color: white;
  border-radius: 5px;
  margin: 0.25em;
  border: 1px white solid;
  box-shadow: rgb(173, 173, 173) -0.1em 0.1em 0.45em;
}

.shift .next {
  width: 5em;
}

.shift .previous{
width:7em
}

.shift button:hover {
  cursor: pointer;
  background-color: #016d9c;
  position: relative;
  right: 0.15em;
  bottom: -0.15em;
  box-shadow: none;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-item {
  margin: 1.5em;
}

.contact-item i {
  margin: 0.5em;
}

.contact-item a {
  text-decoration: none;
}

.contact-item p {
  display: inline;
  margin-left: 3em;
}

.contact-item a:hover {
  color: #32b0e7;
  text-decoration: underline;
}

.present {
  background-color: white !important;
  color: #32b0e7 !important;
  position: relative !important;
  right: 0.15em !important;
  bottom: -0.15em !important;
  box-shadow: none !important;
  border: none !important;
}

.box {
  position: relative;
  left: 5%;
  width: 90%;
  color: white;
  overflow-x: hidden;
  margin-bottom: 6em;
}

.box::before,
.box::after {
  content: "";
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.box::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0), rgba(0, 0, 0, 0));
}

.box::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0), rgba(0, 0, 0, 0));
}

.box ul {
  width: max-content;
  list-style: none;
  display: flex;
  justify-content: center;
}

.box ul li {
  background-color: #32b0e7;
  padding: 1em 2em;
  margin: 1em;
  border-radius: 10px;
}

.boxUl2 {
  position: relative;
  right: 100%;
}

@media (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 1199px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 10px;
  }

  nav {
    padding: 3em;
  }

  .ul,
  input {
    display: none;
  }

  .menu {
    display: inline;
  }

  .iMain1 {
    bottom: 2em;
  }
}

@media (max-width: 599px) {
  body {
    font-size: 9px;
  }

  nav {
    padding: 3em;
  }

  .ul,
  input {
    display: none;
  }

  .menu {
    display: inline;
  }

  .boxUl2 {
    position: relative;
    right: 150%;
  }

  .iMain1 {
    bottom: 4em;
  }

  .contact-item {
    margin: 0.75em;
  }

  .contact-item i {
    margin: 0.25em;
  }

  .uses,
  .typesof,
  .b2,
  .benefits,
  .b4,
  .b3,
  .b2 div,
  .b1 div,
  .p1 h3 {
    display: block;
  }

  .b2 div:first-child,
  .b3:first-child,
  .b3:nth-child(3),
  .b4:first-child,
  .b4:nth-child(3),
  .b4:nth-child(5) {
    padding-right: 0%;
  }

  .b2 div:nth-child(2),
  .b3:nth-child(2),
  .b3:last-child,
  .b4:nth-child(2),
  .b4:nth-child(4),
  .b4:nth-child(6) {
    padding-left: 0%;
  }

  .b4:last-child,
  .b1:last-child {
    transform: translateX(0%);
  }

  .b1:first-child,
  .b1:nth-child(3),
  .b1:nth-child(5) {
    padding-right: 0%;
  }

  .b1:nth-child(2),
  .b1:nth-child(4),
  .b1:nth-child(6) {
    padding-left: 0%;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 8px;
  }
}

@keyframes img_fade_in {
  from {
    scale: 0.6;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes txt_fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes img_fade_out {
  from {
    scale: 1;
    opacity: 1;
  }
  to {
    scale: 0.6;
    opacity: 0;
  }
}

@keyframes move_right {
  from {
    left: 0%;
  }
  to {
    left: 150%;
  }
}

@keyframes move_left {
  from {
    right: 0%;
  }
  to {
    right: 150%;
  }
}
